src/main/mule/error-handling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="44d8a793-61d4-4c7f-8501-54782b4e0d5e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="error-handlingFlow" doc:id="7fbfa676-6e4c-45a0-a836-76b7566f461e" >
		<http:listener doc:name="Listener" doc:id="149fb97d-ac8b-492a-b74a-fd7ac6109e93" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="2d28db18-8eb6-407d-a8ec-3d3c122f9ceb" message="payload"/>
		<ee:transform doc:name="Transform Message" doc:id="3cba02e3-0c9e-47c6-9b84-0cf727acffc3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[1,2,3,4,5,6,7,8,9,11,12,13,14,15]filter(item,index) -> isEven(item)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="bf9d66b6-3ce1-4de4-aa5c-690c28f60114" message="#[payload]"/>
	</flow>
</mule>
